[Desktop Entry]
Name=Neovim
Exec=kitty --single-instance -e nvim %F
Type=Application
Terminal=false
MimeType=text/plain;text/markdown;text/x-shellscript;application/x-shellscript;text/x-python;application/json;text/x-yaml;
NoDisplay=true

