[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi (kitty)
GenericName=File Manager
Comment=Open folders in yazi running inside kitty
TryExec=kitty
Exec=kitty yazi %f
Icon=yazi
Terminal=false
Categories=System;FileManager;FileTools;
MimeType=inode/directory;
Keywords=File;Manager;Explorer;Browser;
