[Unit]
Description=rclone bisync ~/cloud
After=network-online.target
Wants=network-online.target

[Service]
User=aru
Group=aru
Type=oneshot
Environment=HOME=/home/aru
ExecStart=/usr/bin/rclone bisync /home/aru/cloud storagebox:sync --check-access --fast-list -v

