[Unit]
Description=rclone mount archive
After=network-online.target
Wants=network-online.target

[Service]
User=aru
Group=aru
Type=notify
Environment=HOME=/home/aru
ExecStart=/usr/bin/rclone mount storagebox:archive /home/aru/archive \
  --vfs-cache-mode full \
  --vfs-cache-max-size 5G \
  --dir-cache-time 24h \
  -v
ExecStop=/bin/fusermount -u /home/aru/archive
Restart=on-failure

[Install]
WantedBy=multi-user.target

